*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url(bg1.jpg);
    background-position: center;
    background-size: cover;
    height: 200vh;
    position:right;
    font-family:sans-serif;
}

.navbar{
    width: 84%;
    display: flex;
    margin: auto;
    padding: 150px 0;
    align-items: center;
    justify-content: space-between;
}
.navbar.logo{
    height:40vh;
    width: 30%;
    position: centre;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}

ul{
    margin-top:-4%;

}
ul li{
    list-style: none;
    display: inline-block;
    padding:10px 16px;

}
ul li a{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(141, 10, 10);
    margin-top: -3%;
    transition: .5s ease;
}


ul li a:hover{
    color: rgb(154, 11, 194);
}

.info{
    margin-left:7%;
    margin-top: 2%;
}

.info h1{
    font-size: 50px;
    color: rgb(216, 104, 59)
}

.info h3{
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 39px;
}

.info span{
    color: rgb(230, 104, 52);
}

.info a{
    text-decoration: none;
    color: rgb(179, 218, 63);
    background-color: rgb(47, 23, 44);
    margin: 26px 0px;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .5s ease;
}
.info a:hover{
    background: rgb(222, 104, 179);

}

.image{
    width: 20%;
    height: 70%;
    position: absolute;
    right: 30px;
    bottom:0;
    
}

.image img{
    position: absolute;
    height: 100%;
    left: 40%;
    transform: translate(-55%);
    bottom: 0;
    transition: left 2s ease;
}

.icons a{
    text-decoration: none;
    color: azure;
}

.icons ion-icon{
    margin-left:5%;
    color: rgb(141, 10, 10);
    margin-right: -40px;
    font-size: 10px;
    transition: .4s ease;
}
.icons ion-icon:hover{
    color: rgb(99, 13, 66);

}